.bb {
    position: absolute;
    margin-top: 0vh;
    margin-right: 66.55vw;
    margin-bottom: 66.67vh;
    font-size: 6.25vh;
    top: 0vh;
    left: 0;
    border: 2.5vh;
    border-style: solid;
    border-color: black;
    padding: 8.7vh 8.7vh 8.7vh 8.7vh;
}

.bb:hover {
    color: transparent;
    background-image: url(baskin-robins.png);
    background-size: cover;
    background-position: center;
}

.ccd {
    position: absolute;
    margin-top: 0vh;
    margin-left: 66.7vw;
    margin-bottom: 66.6vh;
    font-size: 6.25vh;
    top: 0vh;
    right: 0vw;
    border: 2.5vh;
    border-style: solid;
    border-color: black;
    padding: 8.7vh 8.125vh 8.7vh 8.7vh;
}

.ccd:hover {
    color: transparent;
    background-image: url(ccd.png);
    background-size: cover;
    background-position: center;
}

.fc {
    position: absolute;
    font-size: 6.34vh;
    top: 31.5vh;
    left: 33.39vw;
    border: 2.5625vh;
    border-style: solid;
    border-color: black;
    padding: 8.75vh 14.25vh 9vh 14.6vh;
}

.fc:hover {
    color: transparent;
    background-image: url(fc.png);
    background-size: cover;
    background-position: center;
}

.ma {
    position: absolute;
    margin-bottom: 0vh;
    font-size: 6.34vh;
    bottom: 0vh;
    left: 0vw;
    border: 2.5vh;
    border-style: solid;
    border-color: black;
    padding: 10.45vh 12.67vh 10.45vh 12.67vh;
}

.ma:hover {
    color: transparent;
    background-image: url(ma.png);
    background-size: cover;
    background-position: center;
}

.pfc {
    position: absolute;
    margin-bottom: 0;
    margin-left: 66.7vw;
    margin-top: 66vh;
    font-size: 6.36vh;
    bottom: 0vh;
    right: 0;
    border: 2.5vh;
    border-style: solid;
    border-color: black;
    padding: 6.8vh 6.25vh 6.8vh 7.5vh;
}

.pfc:hover {
    color: transparent;
    background-image: url(pfc.png);
    background-size: cover;
    background-position: center;
}