* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

.head {
    color: #fff;
    position: absolute;
    top: 20vh;
    left: 28vw;
    font-size: 6.25vh;
    font-family: 'poppins', sans-serif;
    line-height: 20vh;
    color: transparent;
    -webkit-text-stroke: 1px rgb(25, 187, 10);
    background: url(back.png);
    background-clip: text;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    margin-left: 42vw;
    margin-top: 22vh;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375vw 0.75vw;
    font-size: 3vw;
    line-height: 9vh;
    border-radius: 3vw;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover,
.btn:focus {
    text-decoration: none;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2vw rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
    opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
    background-image: none;
}

.btn-outline {
    color: rgb(234, 234, 30);
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}

.btn-outline:hover {
    color: black;
    background-color: yellow;
    border-color: #28a745;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
    box-shadow: 0 0 0 0.2vw rgba(40, 167, 69, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: #28a745;
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(food_background.jpeg);
    background-size: cover;
    background-position: center;
    padding: 0 0;
    position: absolute;
}

.logo {
    padding-left: 0vw;
    margin-left: 46.5vw;
    width: 6.8vw;
    cursor: pointer;
    align-items: center;
}

nav {
    display: flex;
    width: 100vw;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0;
    font-size: 1.3vw;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 0.7vw;
    padding-top: 0.7vh;
    margin-top: 0vh;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1vh 2vw;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 30%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.textbox {
    position: absolute;
    top: 60vh;
    color: orange;
    font-size: 4.5vh;
}

.burger {
    width: 15vw;
    position: absolute;
    top: 40vh;
    left: 70vw;
    align-items: right;
}

.chilli1 {
    position: absolute;
    width: 18.5vw;
    top: 18vh;
    left: 7vw;
    align-items: left;
}

.chilli2 {
    position: absolute;
    width: 18.5vw;
    top: 19vh;
    right: 7vw;
    align-items: left;
}

.food1 {
    position: absolute;
    width: 16vw;
    top: 70vh;
    right: 0;
}

.food2 {
    position: absolute;
    width: 15vw;
    top: 50vh;
    right: 0;
}

.food3 {
    position: absolute;
    width: 14.5vw;
    top: 71vh;
    left: 55vw;
}

.food4 {
    position: absolute;
    width: 10vw;
    top: 78.4vh;
    right: 43vw;
}

.food5 {
    position: absolute;
    width: 15.6vw;
    top: 70vh;
    left: 68.8vw;
}

.food6 {
    position: absolute;
    width: 11.5vw;
    top: 60vh;
    left: 60.8vw;
}

.food7 {
    position: absolute;
    width: 11.5vw;
    top: 82vh;
    left: 36.8vw;
}